* {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainBox {
  height: 70vh;
  width: 100vw;
  @media (max-width: var.$breakpoint-phone) {
    height: fit-content;
  }
}

.col1of2 {
  height: 100vh;
  width: 49%;
}
