.logo {
  font-size: 3rem;
  width: 50%;
  @media (max-width: var.$breakpoint-phone) {
    font-size: 2rem;
  }
}

.headerContainer {
  position: sticky;
  top: 0;
  padding: 15px;
  display:flex;
}

.socialContainer {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}