.bioContainer {
  padding: 1rem;
}

.extraBox {
  padding: 0.3rem;
}

.introBox {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content:center;

  @media (max-width: var.$breakpoint-phone) {
    width: 100%;
    height: 100%;
  }
}

.introItems {
  padding: 0.5rem;
}

.projectsLayout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
}

